<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV Detail</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <a href="/" class="btn btn-primary mt-3">Back to CV List</a>
      <h1>CV Detail</h1>
      <ul class="list-group">
        <li class="list-group-item"><h3>Resume Summary:</h3></li>
        <li class="list-group-item">{{ result | safe }}</li>
        <li class="list-group-item"><hr /></li>

        <li class="list-group-item">{{ cv.ID }}</li>
        <li class="list-group-item">{{ cv.Candidate_Name }}</li>
        <li class="list-group-item">{{ cv.Resume_html | safe }}</li>
      </ul>
    </div>
  </body>
</html>
